registry=https://registry.npmmirror.com
nodejs_org_mirror=https://cdn.npmmirror.com/binaries/node
nvm_nodejs_org_mirror=https://cdn.npmmirror.com/binaries/node
phantomjs_cdnurl=https://cdn.npmmirror.com/binaries/phantomjs
chromedriver_cdnurl=https://cdn.npmmirror.com/binaries/chromedriver
operadriver_cdnurl=https://cdn.npmmirror.com/binaries/operadriver
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://cdn.npmmirror.com/binaries/electron-builder-binaries/
sass_binary_site=https://cdn.npmmirror.com/binaries/node-sass
swc_binary_site=https://cdn.npmmirror.com/binaries/node-swc
nwjs_urlbase=https://cdn.npmmirror.com/binaries/nwjs/v
puppeteer_download_host=https://cdn.npmmirror.com/binaries
sentrycli_cdnurl=https://cdn.npmmirror.com/binaries/sentry-cli
saucectl_install_binary_mirror=https://cdn.npmmirror.com/binaries/saucectl
sharp_binary_host=https://cdn.npmmirror.com/binaries/sharp
sharp_libvips_binary_host=https://cdn.npmmirror.com/binaries/sharp-libvips
robotjs_binary_host=https://cdn.npmmirror.com/binaries/robotj
xprofiler_binary_host_mirror=https://npmmirror.com/mirrors/xprofiler
